
// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: "Roboto", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$white: #ffffff;
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66D9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;
$light-gray: #ecf0f1;
$barely-white: #f8f8f8;
$crystalic-non-transparent: #063c5e;
$crystalic: #063d5ecc;

$crystalic-gradient: rgba(6, 61, 94, 0.8), rgba(17, 48, 63, 0.8);
