#homepage {
    padding-top: 25px;
    padding-bottom:25px;
    .article-wrapper {
        background-size: cover !important;
        background-position: center !important;
        color: white;
        width: 100%;
        display: inline-block;
        border-radius: 10px;
        box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.5);
        .article-description {
            min-height: 400px;
            position: relative;
            transition: 0.5s;
            border-radius: 10px;
            .article-title {
                margin: 0;
                position: absolute;
                width: 100%;
                left: 0;
                right: 0;
                top: 85%;
                transform: translateY(-50%);
                text-align: center;
                transition: 0.5s;
                text-transform: capitalize;
            }
            .article-preview-hidden {
                position: absolute;
                top: 400px;
                transition: 0.5s;
                text-align: center;
                padding-left: 25px;
                padding-right: 25px;
                opacity: 0;
            }
        }
    }
    .article-wrapper:hover .article-description {
        background-color: rgba(0, 0, 0, 0.5);
    }
    .article-wrapper:hover .article-title {
        top: 65%;
        transform: translateY(0);
    }
    .article-wrapper:hover .article-preview-hidden {
        top: 85%;
        opacity: 1;
        transform: translateY(-50%);
    }
}

.article-list-wrapper {
    list-style: none;
    padding: 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
    .article-list-item {
        padding: 60px 60px 60px 220px;
        position: relative;
        .article-index {
            height: 150px;
            width: 150px;
            background-position: center !important;
            background-size: cover !important;
            background: linear-gradient(35deg, #0c68a1, #063c5e);
            color: white;
            border-radius: 50%;
            position: absolute;
            left: 15%;
            top: 15%;
            transform: translate(-50%);
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
            border: 3px solid white;
            .index-value {
                position: absolute;
                top: 17%;
                left: 50%;
                transform: translate(-50%);
                text-align: center;
                font-size: 60px;
                font-weight: 800;
            }
        }
        .article-title {
            font-size: 30px;
            font-weight: 800;
            text-transform: capitalize;
        }
        .article-description {
            font-size: 16px;
        }
    }
    .article-list-item:nth-child(odd) {
        background-color: white;
    }
    .article-list-item:nth-child(even) {
        background-color: #f7f7f7;
    }
    .article-list-item:nth-child(1) {
        border-top: 1px solid #f1f1f1;
        border-left: 1px solid #f1f1f1;
        border-right: 1px solid #f1f1f1;
        border-top-right-radius: 3px;
        border-top-left-radius: 3px;
    }
    .article-list-item:nth-last-child(1) {
        border-bottom: 1px solid #f1f1f1;
        border-left: 1px solid #f1f1f1;
        border-right: 1px solid #f1f1f1;
        border-bottom-right-radius: 3px;
        border-bottom-left-radius: 3px;
    }
}
.header-wrapper {
    width: 100%;
    margin-bottom: 100px;
    background: linear-gradient(35deg, #0c68a1, #063c5e);
    position: relative;
    height: 500px;
    .header-content {
        margin-left: 400px;
        margin-top: 100px;
        color: #ffffff;
        width: 700px;
        .header-title {
            font-size: 60px;
        }
    }
    svg {
        width: 400px;
        height: 400px;
        position: absolute;
        top: 10%;
        left: 15%;
        transform: translate(-50%);
    }
}

.category-wrapper {
    position: relative;
    text-align: center;
    border: 1px solid #f1f1f1;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
    .category-cover {
        height: 150px;
        width: 150px;
        background-position: center !important;
        background-size: cover !important;
        background-color: skyblue;
        border-radius: 50%;
        position: absolute;
        left: 50%;
        transform: translate(-50%);
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
        border: 3px solid white;
        top: -75px;     
    }
    .card-header {
        border-bottom: none;
        background-color: white;
    }
    .card-footer {
        border-top: none;
        background-color: white;
    }
    .category-name {
        padding-top: 80px;
        font-weight: 800;
        text-transform: capitalize;
    }
}